<form class="row g-3" action="/login" method="post">
  <div class="col-md-4">
    <label for="Username" class="form-label">Username</label>
    <input type="text" class="form-control {{#ifCond username '==' 0}} is-invalid {{/ifCond}} {{#ifCond wrongUsername '==' true}} is-invalid {{/ifCond}}" id="Username" name="username" {{#ifCond username '!=' 0}} value="{{../username}}" {{/ifCond}}>
    {{#ifCond username '==' 0}}
    <div class="invalid-feedback">
      ban chua nhap ten dang nhap.
    </div>
    {{/ifCond}}
    {{#ifCond wrongUsername '==' true}}
    <div class="invalid-feedback">
      ten dang nhap ko chinh xac.
    </div>
    {{/ifCond}}
  </div>
    
  <div class="col-md-4">
    <label for="Password" class="form-label">Password</label>
    <input type="password" class="form-control {{#ifCond password '==' 0}} is-invalid {{/ifCond}} {{#ifCond wrongPassword '==' true}} is-invalid {{/ifCond}}" id="Password" name="password" {{#ifCond password '!=' 0}} value="{{../password}}" {{/ifCond}}>
    {{#ifCond password '==' 0}}
    <div class="invalid-feedback">
      ban chua nhap mat khau.
    </div>
    {{/ifCond}}
    {{#ifCond wrongPassword '==' true}}
    <div class="invalid-feedback">
      mat khau ko chinh xac.
    </div>
    {{/ifCond}}
  </div>
    
  <div class="col-12">
    <button class="btn btn-primary" type="submit">dang nhap</button>
  </div>
</form>