<form action="/sign-up" method="post">


    <input type="text" class="form-control {{#ifCond acceptEmail '==' true}} is-valid {{/ifCond}} {{#ifCond hadEmail '==' 0}} is-invalid {{/ifCond}} {{#ifCond notEmail '==' true}} is-invalid {{/ifCond}} {{#ifCond checkEmailExist '==' true}} is-invalid {{/ifCond}}" id="floatingEmail" placeholder="asdasd@gmail.com" name="email"{{#ifCond hadEmail '!=' 0}} value="{{../hadEmail}}" {{/ifCond}}">
    <label for="floatingEmail">Email</label>
    {{#ifCond hadEmail '==' 0}}
    <div class="alert alert-danger" role="alert">
    ban chua nhap email
    </div>
    {{/ifCond}}
    {{#ifCond notEmail '==' true}}
    <div class="alert alert-danger" role="alert">
    vui long nhap email chinh xac
    </div>
    {{/ifCond}}
    {{#ifCond checkEmailExist '==' true}}
    <div class="alert alert-danger" role="alert">
    email da co ng su dung
    </div>
    {{/ifCond}}


    <input type="text" class="form-control {{#ifCond acceptUsername '==' true}} is-valid {{/ifCond}} {{#ifCond hadUsername '==' 0}} is-invalid {{/ifCond}} {{#ifCond usernameLength '<=' 6}} is-invalid {{/ifCond}} {{#ifCond checkNameExist '==' true}} is-invalid {{/ifCond}}" id="floatingInput" placeholder="name" name="username" {{#ifCond hadUsername '!=' 0}} value="{{../hadUsername}}" {{/ifCond}} >
    <label for="floatingInput">Name</label>
    {{#ifCond hadUsername '==' 0}}
    <div class="alert alert-danger" role="alert">
    ban chua nhap tai khoan
    </div>
    {{/ifCond}}
    {{#ifCond usernameLength '<=' 6}}
    <div class="alert alert-danger" role="alert">
    tai khoan can nhieu hon 6 ki tu
    </div>
    {{/ifCond}}
    {{#ifCond checkNameExist '==' true}}
    <div class="alert alert-danger" role="alert">
    ten tai khoan da ton tai
    </div>
    {{/ifCond}}


    <input type="password" class="form-control {{#ifCond acceptPassword '==' true}} is-valid {{/ifCond}} {{#ifCond hadPassword '==' 0}} is-invalid {{/ifCond}} {{#ifCond passwordLength '<=' 6}} is-invalid {{/ifCond}}" id="floatingPassword" placeholder="password" name="password" {{#ifCond hadPassword '!=' 0}} value="{{../hadPassword}}" {{/ifCond}}>
    <label for="floatingPassword">password</label>
    {{#ifCond hadPassword '==' 0}}
    <div class="alert alert-danger" role="alert">
    ban chua nhap mat khau
    </div>
    {{/ifCond}}
    {{#ifCond passwordLength '<=' 6}}
    <div class="alert alert-danger" role="alert">
    mat khau can nhieu hon 6 ki tu
    </div>
    {{/ifCond}}


    <input type="password" class="form-control {{#ifCond checkConfirmPass '==' true}} is-valid {{/ifCond}} {{#ifCond hadConfirmPassword '==' 0}} is-invalid {{/ifCond}} {{#ifCond checkConfirmPass '==' false}} is-invalid {{/ifCond}}" id="floatingConfirmPassword" placeholder="ConfirmPassword" name="ConfirmPassword" {{#ifCond hadConfirmPassword '!=' 0}} value="{{../hadConfirmPassword}}" {{/ifCond}}>
    <label for="floatingConfirmPassword">Confirm Password</label>
    {{#ifCond hadConfirmPassword '==' 0}}
    <div class="alert alert-danger" role="alert">
    ban chua nhap lai mat khau
    </div>
    {{/ifCond}}
    {{#ifCond checkConfirmPass '==' false}}
    <div class="alert alert-danger" role="alert">
    ca 2 mat khau phai giong nhau
    </div>
    {{/ifCond}}
    <input type="text" class="form-control" id="floatingRole" placeholder="role" name="role">
    <label for="floatingRole">role</label>
    <button type="submit" class="btn btn-primary">dang ky</button>
</form>